<mat-sidenav-container (backdropClick)="sidenav.close()">

    <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" mode="push">
        <mat-list>
            <h3>Github Viewer</h3>

            <mat-list-item (click)="sidenav.close()">
                <a mat-button routerLink="/repositories/trending">
                    <mat-icon mat-list-icon>trending_up</mat-icon>
                    Trending
                </a>
            </mat-list-item>
            <mat-list-item (click)="sidenav.close()">
                <a mat-button routerLink="/repositories/favorites">
                    <mat-icon mat-list-icon>favorite</mat-icon>
                    Favorites (3)
                </a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button *ngIf="(toolbarConfig$ | async)?.showBackButton" mat-button (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <button *ngIf="(toolbarConfig$ | async)?.showMenuButton" mat-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <div>
                Github Viewer
            </div>

        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
