<div class="content">
    <mat-card class="details">
        <h2>mozzila/send</h2>
        <p>
            fasj jfas jfasj jkas as jkfaskj jkfas fajsj kas
        </p>

        <div>
            <div class="details__favorites">
                <mat-icon>favorite</mat-icon>
                1234
            </div>

            <mat-chip-list class="details__language">
                <mat-chip color="accent" selected selectable="false">
                    Ruby
                </mat-chip>
            </mat-chip-list>
        </div>

        <mat-divider>
        </mat-divider>

        <h3>Built by</h3>
        <mat-list>
            <mat-list-item>
                <img matListAvatar src="http://social.microsoft.com/profile/u/avatar.jpg?displayname=florian+auer&size=extralarge&version=bd0896cb-3be0-4ab5-a234-042113506f55" alt="...">
                <h3 matLine> fasfasfas </h3>
                <p matLine>
                    50 followers
                </p>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>
