<div class="content">
    <mat-card class="details">
        <h2>{{ repository.title }}</h2>
        <p>
            {{ repository.description }}
        </p>

        <div>
            <div class="details__favorites">
                <mat-icon>favorite</mat-icon>
                {{ repository.starsCount }}
            </div>

            <mat-chip-list class="details__language">
                <mat-chip color="accent" selected selectable="false">
                    {{ repository.language }}
                </mat-chip>
            </mat-chip-list>

            <button
                (click)="saveRepository()"
                class="details__save-button"
                mat-raised-button
                color="primary">
                Save to Favorites
            </button>
        </div>

        <mat-divider>
        </mat-divider>

        <h3>Built by</h3>
        <mat-list>
            <mat-list-item>
                <img matListAvatar src="http://social.microsoft.com/profile/u/avatar.jpg?displayname=florian+auer&size=extralarge&version=bd0896cb-3be0-4ab5-a234-042113506f55" alt="...">
                <h3 matLine> fasfasfas </h3>
                <p matLine>
                    50 followers
                </p>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>
