<div class="content">
    <mat-card class="details">
        <h2>{{ repository.name }}</h2>
        <p>
            {{ repository.description }}
        </p>

        <div>
            <div class="details__favorites">
                <mat-icon>favorite</mat-icon>
                {{ repository.stars }}
            </div>

            <mat-chip-list class="details__language">
                <mat-chip [style.backgroundColor]="repository.languageColor" selected selectable="false">
                    {{ repository.language }}
                </mat-chip>
            </mat-chip-list>

            <button
                *ngIf="!repository.isFavorite"
                (click)="favoriteRepository()"
                class="details__save-button"
                mat-raised-button
                color="primary">
                Save to Favorites
            </button>

            <button
                *ngIf="repository.isFavorite"
                (click)="unfavoriteRepository()"
                class="details__save-button"
                mat-raised-button
                color="primary">
                Remove from Favorites
            </button>
        </div>

        <mat-divider>
        </mat-divider>

        <h3>Built by</h3>
        <mat-list>
            <mat-list-item *ngFor="let user of repository?.builtBy">
                <img matListAvatar [src]="user.avatar" [alt]="user.username">
                <h3 matLine>{{ user.username }}</h3>
                <p matLine>
                    {{ user.followers }} followers
                </p>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>
