.content {
    .details {
        &__favorites {
            display: flex;
            align-items: center;

            mat-icon {
                margin-right: 6px;
            }
        }

        &__language {
            display: block;
            margin: 16px 0;
        }

        &__save-button {
            margin-bottom: 16px;
        }

        .mat-divider-horizontal {
            position: relative;
        }
    }
}
